<h1>New Keg</h1>

<%= form_with model: @keg do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name %>
    <br>
    <%= f.label :type %>
    <%= f.text_field :type %>
    <br>
    <%= f.submit %>
<% end %>